@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
    display: block;
    width: 20%;
    /* display: grid; */
    font-family: Avenir, sans-serif;
    color: rgb(255, 255, 255);
    
  }
  .dark .cta{
    color: rgb(0,0,0)
  }

  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255,0,0);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
    /* transform: ; */
    transform:rotate(90deg) translateX(-5px);
    transition: all 0.3s ease;
  }

 .dark .cta svg {
   stroke:black;
 }
  .cta:hover:before {
    width: 100%;
    background:  rgb(255, 0, 0);
  }
  .cta:hover svg {
      /* transform: translateX(0); */
      transform: rotate(90deg) translate(5px);
  }
  .cta:active {
    transform: scale(0.96);
  }
  
a {
    text-decoration: none;
    color: inherit;
  }
.Project-container{
  color: #fff;
  margin:auto;
  width: 100%;
  max-height: 100%;
  box-sizing:border-box;
  border: 2px solid white;
  border-left: 0;
  border-right: 0 ;
  min-height: 120vh;
  justify-content: center;
  text-align:center;
  align-self: start;
}

.dark .Project-container{
  color: black;
  border: 2px solid black;
}
@media(max-width: 767px){
  .Project-container{
    min-height: 400px;
  }
}
.slides{
  justify-content: center;
  align-items: center;
  margin:auto;
  padding: 20px;
}

@media (max-width: 768px){
.cta{
  width: 70%;
}

}
.sidebar {
  /* font-family: 'Courgette', cursive; */
  display: none;
  height: 0;
  width: 100vw;
  position: fixed;
  z-index: 11221;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.274) 90%, rgba(255, 255, 255, 0) 100%);
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 70px;
  border-radius: 0 0 30% 30%;
  box-shadow: 0 0 10px 0;
  /* filter: blur(8px); */
}
.dark .sidebar {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.767) 90%, rgba(0, 0, 0, 0.623) 100%);
}

.sidebar a {
  text-align: center;
  padding: 8px 8px 8px 1px ;
  text-decoration: none;
  margin-top: 0px;
  font-size: 0;
  color: #0051ff;
  display: block;
  transition: 0.3s;
  overflow: hidden;
  transition: 0.5s font-size;
}

.sidebar a:hover {
  color: rgb(255, 255, 255);
}

.dark .sidebar a {
  color:rgb(0, 247, 255);
}

.sidebar.sideOn {
  height:35%;
  overflow: hidden;
}
.sidebar.sideOn a{
  font-size: 24px;
}
.sidebar.sideOn #main{
  margin-right: 250px;
}

#main{
  visibility:visible;
  transition: margin-right .5s;
  padding: 16px;
}
@media(max-width: 767px){
  .sidebar{
    display: block;
  }
  nav{
    display:none;
  }
}
.sidebar img{
  width: 70px;
  position: absolute;
  margin: auto;
  display: flex;
  top: 0%;
}
.dark .slides{
  background-color: black;
  color: white;
}