/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
} */

.lines {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: 0;
}

.line {
  position: absolute;
  width: 7px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}
.dark .line{
  background: rgba(0,0,0,0);
  width: 0px;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1C538E 75%, #1C538E 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.dark .line::after{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 75%, #000000 100%);
}
.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  animation-delay: 3s;
}
.line:nth-child(2) {
  margin-left: -50%;
}
.line:nth-child(2)::after {
  animation-delay: 4s;
}
.line:nth-child(4) {
  margin-left: 50%;
}
.line:nth-child(4)::after {
  animation-delay: 5s;
}
.line:nth-child(5) {
  margin-left: 75%;
}
.line:nth-child(5)::after {
  animation-delay: 6s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

/* No Select */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}