@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

* {
  margin: 0%;
  padding: 0%;
}



body{
  /* max-height: 100%;
  width: 100%; */
  font-family: 'nunito', sans-serif;
  background:#000;
  font-weight: 200;
  font-style: normal;
position:absolute;
display:flexbox;
flex-direction: row;
color: white;

}
.home-blur{
  background: url(/img/pexels-pixabay-90764.jpg);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* background-size: 100vw; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: absolute;
  height:100vh;
  width: 100%;
  z-index: 0;
}

.dark .home-blur {
  background: url(/img/undraw_Resume_re_hkth.svg) ;
  filter: blur(6px);
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* background-repeat: no-repeat; */
  /* transition: 1s; */
  
}

nav #logo {
  position:absolute;
  flex: 20%;
  height: 20vw;
  transition: 0.5s;

}


.dark nav #logo{
  filter:invert()
}
nav.black #logo {
  height: 7.5vw;
  /* transition: 0.5s; */
}

/*** Navbar ***/
nav {
  position: fixed;
  top: 0;
  left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  height: 70px;
  background:rgba(255, 255, 255, 0);
  
}

.dark nav{
  background: rgba(0,0,0,0)
}

nav.black{
  background: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
.dark nav.black{
  background: linear-gradient(to bottom, rgb(255, 255,255) 50%, rgba(0,0,0,0) 100%);
}
.navclass, .navbar {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.navclass a, .navbar a {
  color: #ffffff;
  text-decoration: none;
}
.dark .navclass a, .dark .navbar a{
  color:#000;
}
.navclass .nav-item, .navbar .nav-item {
  padding: 5px 0;
}
.navclass .nav-item:after, .navbar .nav-item:after {
  content: " ";
  display: block;
  height: 1px;
  width: 100%;
  position: relative;
  top: 3px;
  background: transparent;
  transition: top 0.3s ease-out;
  -webkit-transition: top 0.3s ease-out;
}
.navclass .nav-item:hover:after, .navbar .nav-item:hover:after {
  top: 7px;
  background: #3c3c3c;
}
.dark .navclass .nav-item:hover:after, .dark .navbar .nav-item:hover:after{
  background:rgb(228, 226, 226);
}
.active:after {
  height: 2px !important;
  background: #e74c3c !important;
}

#dark{
  font-size: 25px;
}

@media screen and (max-width: 550px) {
  .navclass, .navbar {
    width: 90% !important;
  }
  .navclass .nav-item, .navbar .nav-item {
    font-size: 10px !important;
  }
  #dark{
    font-size: 30px;
  }
}
@media screen and (max-width: 350px) {
  .navbar-container {
    height: 120px !important;
  }

  .navclass, .navbar {
    flex-wrap: wrap !important;
  }
  .navclass .nav-item, .navbar .nav-item {
    margin: 5px 5px !important;
  }
}

  #heading {
  /* coloring */
  /* text-decoration: underline; */
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 200;
  margin: 0.4rem;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 45%; 
  margin: auto;
}

.dark #heading{
  color: black;
}

.blink {
  animation: blinker 0.8s infinite step-end;
}

#heading h1, h2 {
  font-weight: 200;
  margin: 0.4rem;
}

#heading h1 {
  font-size: 3.5rem;
}

#heading h2 {
  font-size: 2rem;
  color: #fff;
}

.dark #heading h2{
  color:rgb(0, 0, 0);
}

@media(min-width: 1200px) {
  #heading  h1 {
     font-size: 4rem;
   }
 }
 
 @media(max-width: 800px) {
   #heading  {
     padding: 0 1rem;
   }
 
   #heading h1 {
     font-size: 3rem;
   }
 }
 
 @media(max-width: 500px) {
   #heading h1 {
     font-size: 2.5rem;
   }
 
  #heading  h2 {
     font-size: 1.5rem;
   }
 }

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


#heading::selection {
  color: white;
  background: darkorchid;
}


.rest-top {
  /* visibility:hidden; */

    /* right: 10%; */
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* margin: auto; */
  padding: 10px;
  min-height: 20vw;
  width: 50%;
  align-items: center!important;
  display: flex!important;
  flex-direction: column;
  /* background:rgb(90, 2, 255)!important; */
  box-sizing: border-box;
  z-index: 9;
  border-radius: 10px;
  box-shadow: 3px 3px 4px 1px rgba(124, 94, 192, 0.6);
  background: rgba(124, 94, 192, 0.164);
  
}

.profilePhoto {
  display: inline-flex;
  overflow: hidden;
  max-height: 9vw;
  position: relative;
  left: 10.3vw;
  scale: 0.8;
  bottom: 10.3vw;
  /* border: 5px solid #6a5acd; */
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: -0.5vw 0.5vw #6a5acd;
}
.userphoto {
  margin-bottom: 8vw;
  width: 8vw;
  height: 100%;
}

/* About section */

.About {

  position: relative;
  /* top: 100%; */
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  max-height:100vh;
  min-height: 400px;
  color: whitesmoke;
  background-color: black;
  padding: 20px;
}

.dark .About{
  color:rgb(7, 7, 7);
  background-color:#fff
}

.About-container {
  position: relative;
  font-family: "Lobster", cursive;
  font-size: 20px;
  margin: 0% auto;
  border: solid 3px white;
  width: auto;
  min-height: 360px;
  text-align: center;
  overflow: hidden;
  padding: 30px;
  /* bottom: 10%; */
  
}
.dark .About-container{
  border: solid 3px #000
}
.name {
  padding: 20px;
  text-decoration: underline;
}
.About-me {
  /* position: absolute; */
  width: 100%;
  /* display: inline-flex; */
  text-align-last: center;
  margin:4%;
  /* left: -10%; */
}

.long{
  font-size:smaller;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  vertical-align: text-bottom;
  text-align: left;
  justify-content: center;
  align-items:center;
  display: flex;
  float: left;
  width: 70%;
}
.long:hover{
  box-shadow:0 10px 30px rgba(57,56,61,0.205);
}
.dark .long:hover{
  box-shadow:0 10px 30px rgba(119, 119, 129, 0.205)
}
@media (max-width: 768px) and (max-width: 992px) {

  .long{
    /* text-align: center; */
    width: 90%;
    float:none;
    margin: 40px 20px;
  }
}
.dp2 {
  /* position: absolute; */
  /* margin: auto; */
  width: 250px;
  left: 70%;
  bottom: 10%;
  display: inline;
}


/* Buttons design */

.btn-1 {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  /* cursor: pointer; */
}
footer a,
.btn-1 a {
  cursor: pointer;
  text-decoration: none;
  border: 2px solid rgb(228, 226, 226);
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}
.dark .btn-1 a{
  border: 2px solid rgb(29, 29, 29);
  color: #fff;
}
footer a:hover,
.btn-1 a:hover{
  color: #fff;
  transition: 0.5s;
}
.dark footer a:hover,
.dark .btn-1 a:hover{
  color:#000;
}

span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
}

/* Button 1 styles */

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 2px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
  color: #000;
}
.dark .btn-1 a::before{
  background-color:#000;
  color: #fff
}

.btn-1 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: -2px;
  top: 0px;
  width: calc(102%);
  /*100% plus double the times left values*/
  height: calc(100%);
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}
.dark .btn-1 a::after{
  background-color:#000;
}

.btn-1 a:hover::after {
  transform: scaleX(0);
}

.dark{
  background: #fff;
  color: #000;
}
/* Project container */
.Projects{
  background: url(../img/pexels-adrien-olichon-2387793.jpg);
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 20px;
  /* background-position: bottom; */
}

.dark .Projects{
  background: url(../img/cool-background.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media(max-width: 767px){
  .Projects{
    min-height: 50vh;
    max-height: 100vh;
  }
}
.Contacts{
  background: url(../img/pexels-jesse-yelin-3047470.jpg);
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.dark .Contacts{
  background: url(../img/undraw_contact_us_15o2.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 35vw;
  background-position: left;
}

.Project-container{
  font-family: "Lobster", cursive;
  font-size: 20px;
}

.slides{
  min-width: 300px;
  max-width: 700px;
  border: 2px #fff solid;
  border-radius: 10px 10px 5px 5px;
  box-shadow: 0px 10px 10px 0px;
}
.dark .slides{
  border: 2px #000 solid;
}

@media(max-width: 767px){
  .slides{
    box-shadow: 0px 0px 6px 0px;
  }
  .dark .Contacts{
    background-size: 100vw;
  }
  .rest-top{
    background: rgba(124, 94, 192, 0.164);
    right: 20%;
    min-height: 35vh;
    min-width: 70vw;
    padding: 0%;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 1px rgba(124, 94, 192, 0.6);
  }
  .btn-1{
    height: 60%;
    width: 80%;
  }
  .btn-1 a, footer a{
    padding: 5px;
    size: 100%;
    cursor: pointer;
  }
  .slides{
    max-width: 400px;
  }
  /* .btn-1 a::before{
    width: 50%;
    height: 50%
  }
  .btn-1 a::after{
    width: 50%;
    height: 50%;
  } */
  .btn-1 a{
    font-size:smaller;
    cursor: pointer;
  }
  #heading{
    width: 100%;
    font-size: 1.5rem;
  }
  
}
@media(max-width: 400px){

  .rest-top{
    background: rgba(124, 94, 192, 0.164);
    right: 10%;
    max-height: 400px;
    max-width: 700px;
    padding: 0%;
    height: 120px;

    border-radius: 10px;
    box-shadow: 3px 3px 4px 1px rgba(124, 94, 192, 0.6);
  }
}
.rest{
  padding-top:20px;
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  /* position: fixed; */
  bottom: 0;
  
}
.skewed-bg {
  position: relative;;
  z-index: 0;
  background-color: rgb(19, 218, 245);
  padding: 20px 0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='589' height='294.5' viewBox='0 0 1600 800'%3E%3Cpath fill='%23FF7' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%235ff' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");  transform: skew(0deg, -5deg);
  /* margin-top: 200px; */
  min-height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}
.skewed-bg .content {
  transform: skew(0deg, 5deg);
  text-align: center;
  align-content: center;
}
.skewed-bg .content .title {
  transform: skew(0deg, 5deg);
  padding-top: 100px;
  font-weight: normal;
}
.skewed-bg .content{
  display: inline;
}

.dark .skewed-bg{
  background-color: #ffa67d;

}

.content h1{
  color: rgb(255, 180, 209);
}
.dark .content h1{
  color: #6a5acd;
}
/* .footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
} */






.paper-text .slick-next:before, .paper-text .slick-prev:before {
  font-family: slick;
  font-size: 40px;
  line-height: 1;
  opacity: .75;
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.paper-text .slick-next, .paper-text .slick-prev {
  top: 2%;
  
}

.paper-text .slick-next {
  right: 20px;
}

.paper-text .slick-prev {
  z-index: 1;
  left: 0px;
  /* padding-left: 20px; */
}

@media (max-width: 768px){
  .paper-text .slick-prev {
      left: -22px;
      z-index: 1;
  }
  .paper-text .slick-next {
      right: 6px;
      z-index: 1;
  }

}

.Projects .slick-next, .Projects .slick-prev{
  top: 50%
}
.Projects .slick-prev:before, .Projects .slick-next:before
{
  font-family: slick;
  font-size: 40px; 
  line-height: 1;
  opacity: .75;
  color: rgb(121, 19, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}


.Projects .slick-next {
  right: -30px;
}

.Projects .slick-prev {
  left: -50px;
}

.paper-text .slick-slide{
  height:600px;
}
.paper {
  transform: skew(0deg, 5deg);
  position: absolute;
  overflow:hidden;
  height: 550px;
  width: 450px;
  background: rgba(255,255,255,0.9);
  margin: -275px -225px;
  left: 50%;
  top: 55%;
  box-shadow: 0px 0px 5px 0px #888;
}
.paper::before {
  content: '';
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
}
.paper-lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}
.paper-text {
  position: absolute;
  top: 65px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'kalam';
  overflow: hidden;
  outline: none;
  color: rgb(9, 19, 172);
}
.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: rgb(19, 218, 245);
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
}
.dark .holes{
  background-color: #ffa67d;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}

@media (max-width: 768px){

  .paper{
    margin: -350px -225px;
    /* margin: auto;  */
  transform: scale(0.8) skew(0deg, 5deg);
  height: 650px;
  };
  

  .paper-lines {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 16px, steelblue 17px);
  }
  .paper-text .slick-slide.slick-current{
    min-width: 400px;
  }
  .paper-text .slick-next{
    right: 40px;
  }
  .paper-text .slick-prev{
    left: 20px;
  }

  
  
}

.content h1{
  transform: skew(0deg, 5deg);
}

@media (max-width: 768px){
  .paper{
    margin: -325px -225px
  }
  .skewed-bg{
    max-height: 75vh;
  }
  .rest{
    height: 80vh
  }
}

.dark-toggle{
  position:fixed;
  /* top: 10px; */
  right: 30px;
  font-size: 38px;
  opacity: 0.5;
  z-index: 10;
}

.dark .dark-toggle{
  color: rgb(0, 0, 0);
}

@media(max-width:767px){
  .dark-toggle{
    position:fixed;
    /* top: calc(100% - 1.5em); */
    bottom:10px;
    right: 20px
  }
}